/* Comment shortcut: CTRL + FORWARD-SLASH  */

html,
body {
  /* Google font */
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;

  /* Prevents Scrolling */
  overflow: hidden;

  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Box fix */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}
